
.profileListModalContainer {
  text-align: left;
  background-color: white;
  border: 1px solid rgb(248, 245, 245);
  position: absolute;
  width: 270%;
  top: 42px;
  border-radius: 3px;
  right: 2px;
  box-shadow: 2px 2px 1px 1px rgb(174, 175, 175);
  /* z-index: 10; */
  padding-left: 5px;
  padding-top: 10px;

}
