.mainContainer{

}

.signInForm{
    display: flex;
    flex-direction: column;
    padding: 5vh;
}

.signInInput{
    width: 50%;
    border: none;
    outline: none;
    font-size: 15px;
    margin-top: 6px;
    background: transparent;
    border:none;
    border-bottom: 2px solid #ccc;
    transition:.3s ease-in-out;
}

.signInContainer{
    display: flex;
    flex-direction: column;
    margin: 1vh;
}

.modalSignIn{
    width: 15%;
    background-color: #FFC017;
    padding: 1vh;
    border-radius: 10px;
    outline: none;
    border-style:none ;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1vh;
} 

.modalSignIn:hover{
    background-color: white;
    color: #FFC017 ;
    font-weight: bold;
}
