.articleDetailLeft{
    width: 20%;
    /* border: 5px  solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid orangered;

}

.profileImage{
    width: 100px;
}

.position{
    position: fixed;
   margin-top: 180px;
   display: flex;
   flex-direction: column;
    /* border: 5px  solid red; */
    align-items: flex-start;
    width: 10%;
}

.line{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 100%;
}

.writer {
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}

.left-button {
    border: 1px solid #1a8917;
    color: #1a8917;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
}

.left-button-container {
    padding-top: 10px;
    padding-bottom: 30px;
    
    
   
}

.icons-container {
  /* border: 6px solid green; */
  padding-top: 20px;
  padding-bottom: 20px;
}
.icons {
  /* border: 6px solid GOLD; */
  padding-top: 8px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  /* border: 2px solid green; */
  align-items: center;
}
.applause{
    padding-left: 15px;
}
.comment{
    padding-left: 10px;
}

 