.containere01 {
    background-color:#FFC017;
    width: 100%;
    border-bottom: 1px solid black;
}
.headerContainere01 {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid black;
}
.exploree01 {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #080808;
}
.contentLefte01 {
    /* width: 300px; */
    /* height: 100; */
    box-sizing: border-box;
    /* width: 40%; */
    /* border: 1px solid red; */
}
.contentRighte01 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}
.imagee01 {
    height: 50px;
}
a {
    display: inline-flex;
    text-decoration: none;
    color: black;
    padding-right: 20px;
}
.footerContainere01 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
    /* border-bottom: 1px solid black; */
}
.footerLefte01 {
    width: 40%;
    box-sizing: border-box;
    align-self: center;
    text-align: left;
    /* border: 1px solid blue; */
}
.footerRighte01 {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttone01 {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    border-style: none;
    border: 1px solid black
}
.buttonFirste01 {
    background-color: rgba(25, 25, 25, 1);
    color: white;
    padding: 12px 16px 12px;;
    border-radius: 8px;
    /* font-weight: bold; */
    margin-left: 1vw;
    border-style: none;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.buttonFirste01:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.footerRighte01img{
    width: 300px;
}


