.sectionTwoContainer{
    padding: 40px 0px 16px;
    border-top: 1px solid rgba(230, 230, 230, 1);
    border-bottom: 1px solid rgba(230, 230, 230, 1);;
    width: 100%;
}

.trend-title-up{
    text-transform: uppercase;
    letter-spacing: 0.083em;
    font-size: 12px;
    font-weight: 700;
    color: rgba(41, 41, 41, 1);
    text-align: left;
}


.trendingCard-container{
    display: flex;
    border: 1px solid black;
}
