.sectionThreeContainer{
    display: flex;
    padding: 56px 0px 0px ;
    justify-content: space-between;
    border:1px solid purple
}

.bigCard-container{
    width: 60%;
}

.sectionThree-right{
   width: 30%
}