.sectionThreeContainer{
    width: 100%;
    display: flex;
    padding: 56px 0px 0px ;
    justify-content: space-between;
    border:1px solid purple;
}

.bigCard-container{
    display: flex;
    width: 60%;
}

/* .sectionThree-right{
  
} */
.sectionThreeRightContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.reading_list{
    color: rgba(41, 41, 41, 1);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 30px;
    top: 5px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.083em;
    line-height: 16px;
}

.double_bookmark{
    display: flex;
    position: absolute;
}