.trendingcard-container{
    display: flex;
    flex-direction: row;
    width: 20vw;
    border: 1px solid yellowgreen;
    padding: 0px 14px;
    margin-right: 25px;
}

.number-container{
    font-size: 30px;
    color: rgba(230, 230, 230, 1);
    line-height: 36px;
    font-weight: bold;
}

.trendingtext-container{
    text-align: left;
    margin-bottom: 24px;
    padding:0px 16px;

}

.trendingusername{
    font-size: smaller;
    padding: 8px 0px;
}
.trendingtitle{
    font-weight:bolder;
    padding-bottom: 8px;

}
.trendingdate{
    font-size: 13px;
    color: rgba(117, 117, 117, 1);
}

