.card-container {
    display: flex;
    width: 100%;
    border: 1px solid pink;
    padding-bottom: 32px;
}

.card-image{
    width: 100%;
}

.text-container{
    margin-right: 20px;
    text-align: left;
}

.username{
    font-size: smaller;
    padding-bottom: 8px;
}
.title{
    font-weight:bolder;
    padding-bottom: 8px;

}
.date{
    font-size: 13px;
    color: rgba(117, 117, 117, 1);
}

.image-container {
    align-self: center;
}