.profil__card__container {
  max-width: 1270px;
  margin: 2vh 7vw;
}
.profil__card__header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ccc;

}

.profil__card__username{
  padding: 8px;
  margin-right: 2%;
  
}
.profil__card__username h2{
  text-transform: capitalize;
}


.profil__card__subheader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1270px;
  box-sizing: border-box;
  margin-top: 0;
}

.profil__card__subheader__following__btn {
  color: #f1f1f1;
  border: 1px solid #1a8917;
  border-radius: 5px;
  background:#1a8917;
  border: none;
  padding: 12px;
  font-size: 14px;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
}

.profil__card__subheader__follow__btn{
  color: #1a8917;
  background-color: white;
  border: 1px solid  #1a8917 ;
  padding: 12px;
  font-size: 14px;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  border-radius: 5px;
}

.profil__card__subheader a {
  text-decoration: none;
  margin-left: 12px;
}
.profil__card__content {
  display: flex;
}
.profil__card__content__left img {
  width: 131px;
  margin-top: 20%;
}

.profil__card__content__left__info {
  display: flex;
  flex-direction: column;
}

.info_text{
  /* border: 1px solid red; */
  display: flex;
  position: relative;
  top: 8px;
}

.profil__card__content__left__info p {
  font-size: 12px;
  color: #6c6d6d;
  line-height: 16px;
  letter-spacing: 0.083em;
  font-weight: 400;
  text-align: left;
  margin-bottom: 1px;
  padding: 0;
}

.profil__card__content__right{
  max-width: 700px;
  margin-left: 10% ;
}

.profil__card__followers{
  padding: 0px 7px;
}

@media only screen and (max-width: 900px) {
  .profil__card__content {
    display: flex;
    flex-direction: column;
  }
  .profil__card__content__left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: column; */
  }
  .profil__card__content__right{
    max-width: 700px;
    margin-left: 3vw;
  }
  .profil__card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    }
}

/* @media only screen and (max-width: 400px) {
  .profil__card__header {
    display: flex;
    flex-direction: column;
    }
} */