.profil__card__container {
  background-color: #f6f6f6;
  max-width: 1270px;
}
.profil__card__header {
  /* background-color: rgba(22, 133, 159, 1); */
  display: flex;
  align-items: center;
}

/* .profil__card__header h2 {
  font-size: 34px;
  color: #f1f1f1;
  font-weight: 700;
  text-align: left;
  padding: 12px;
  margin-bottom: 0;
} */

.profil__card__subheader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* padding: 12px; */
  max-width: 1270px;
  /* background-color: #f1f1f1; */
  box-sizing: border-box;
  margin-top: 0;
}

.profil__card__subheader__btn {
  /* width:10px; */
  color: #f1f1f1;
  border: 1px solid rgba(22, 133, 159, 1);
  border-radius: 5px;
  background: rgba(22, 133, 159, 1);
  border: none;
  padding: 12px;
  font-size: 14px;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
}

.profil__card__subheader a {
  text-decoration: none;
  margin-left: 12px;
}
.profil__card__content {
  display: flex;
}
.profil__card__content__left img {
  width: 131px;
}

.profil__card__content__left__info {
}

.profil__card__content__left__info p {
  font-size: 12px;
  color: #6c6d6d;
  line-height: 16px;
  letter-spacing: 0.083em;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 0;
}

.profil__card__content__right{
  max-width: 700px;
  margin-left: 10% ;
}