.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    /* border: 1px solid red; */
    /* margin: 40px 0; */

}

.containerLeft {
    display: flex;
    
    /* width: 400px; */
    /* padding-left: 80px; */
    align-items: center;
    /* flex-direction: ; */
}

.headerLeft {
    border-left: 1px solid grey;
    padding-left: 20px;
    font-size: 1.3rem;
    /* flex-direction: ; */
}

.containerRight {
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid green;
    /* flex-direction: ; */
    /* padding-right: 80px; */
}

.navbarImage {
    /* display: inline-block; */
    /* width: 100px; */
    height: 55px;
}

.search {
    /* padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px; */
    /* padding: 20px; */
    margin-top: 0px;
}

 .navbar-button{
    /* width:10px; */
    height: 30px;
    color: #1a8917;
    background-color:white;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #1a8917;
    cursor: pointer;
}

.navbar-profileImage{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.navbarProfileImageContainer{
    cursor: pointer;
    position: relative;
}
