.myProfileHeader {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}
.myProfileHeaderAvatarContainer {
  display: flex;
  flex-direction: column;
}
.myProfileAvatar {
  width: 200px;
  height: 200px;
  margin-bottom: 5%;
  border-radius: 50%;
}

.myProfileHeaderFollowContainer {
  margin-top: auto;
  margin-bottom: auto;
}

.myProfileContent {
  margin-top: 8%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.myProfileContentLeft {
  width: 45%;
}

.myProfileContentRight {
  width: 45%;
}
