.myProfileHeader {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}
.myProfileHeaderAvatarContainer {
  display: flex;
  flex-direction: column;
}
.myProfileAvatar {
  width: 200px;
  height: 200px;
  margin-bottom: 5%;
  border-radius: 50%;
}

.myProfileHeaderFollowContainer {
  margin-top: auto;
  margin-bottom: auto;
}

.edit_profile_btn{
  height: 40px;
    color: #1a8917;
    background-color:white;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #1a8917;
    cursor: pointer;
}

.edit_profile_btn:hover{
    background-color:  #1a8917;
    color: white;
}

.myProfileContent {
  margin-top: 8%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.myProfileContentLeft {
  width: 45%;
}

.myProfileContentRight {
  width: 45%;
}
