.footer_container{
    background-color: #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
}

.footer_right_container p{
    /* border: 2px solid white; */
    margin-right: 30%;
}

.footer_right_container{
    display: flex;
    margin: 3.5vh 10vw 3.5vh 0;
} 

.footer_left_container{
    width: 10%;
    /* border: 2px solid white; */
    margin: 3.5vh 0 3.5vh 5vw;
}

@media only screen and (max-width: 768px)
{
    .footer_right_container{
        margin-right: 12%;
    }
    .footer_right_container p {
        font-size: 16px
    }
}

@media only screen and (max-width: 600px)
{
    .footer_right_container{
        margin-right: 15%;
    }
}
@media only screen and (max-width: 500px)
{
    .footer_right_container{
        margin-right: 20%;
    }

    .footer_right_container p {
        font-size: 14px
    }
}