.footer_container{
    background-color: #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer_right_container p{
    /* border: 2px solid white; */
    margin-right: 30%;
}

.footer_right_container{
    display: flex;
    margin: 3.5vh 10vw 3.5vh 0;
} 

.footer_left_container{
    width: 10%;
    /* border: 2px solid white; */
    margin: 3.5vh 0 3.5vh 5vw;
}
