.card-container {
    display: flex;
    flex-direction: column;
    width: 33vw; 
}


.text-container{
    margin-right: 20px;
}

.username{
    font-size: smaller;
    padding-bottom: 8px;
}
.title{
    font-weight:bolder;
    padding-bottom: 8px;

}
.date{
    font-size: 13px;
    color: rgba(117, 117, 117, 1);
}

.image-container {
    align-self: center;
}