.maincard-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.main-image{
    width: 100%;
}

.main-text-container{
    margin-right: 20px;
    text-align: left;
}

.main-username{
    font-size: smaller;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
}
.mainCardProfileImage{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
.main-title{
    font-weight:bolder;
    padding-bottom: 8px;

}
.main-date{
    font-size: 13px;
    color: rgba(117, 117, 117, 1);
}

.main-image-container {
    align-self: center;
}