.profileDetailListContainer{
    display: flex;
    width: 100%;
    margin-right: 30%;
}

.profileDetailImageContainer{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.profileDetailImage{
    width: 130px;
    height: 130px;
}

.profileDetailArticleContainer{
    width: 60%;
}