.sectionOneContainer{
    display: flex;
    /* justify-content: center; */
    /* gap: 20; */
    /* border: 3px solid red; */
    padding: 0px 0px 40px;
    
}

.cardListSection{
    width: 33%;
    border: 1px solid purple;
    padding: 16px;
}

.mainCardSection{
    width: 33%;
    padding: 16px;
    border: 1px solid orange;
}
.followTopicSection{
    display: flex;
    width: 33%; 
    flex-direction: column;
    padding: 16px;
    border: 1px solid cyan;
}