.sectionOneContainer{
    display: flex;
    width: 100%;
    padding: 0px 0px 40px;
    margin: 2vh 8vw;
    
}

.cardListSection{
    width: 25%;
    /* border: 1px solid purple; */
    padding: 16px;
}

.mainCardSection{
    width: 28%;
    padding: 16px;
    /* border: 1px solid orange; */
}
.followTopicSection{
    display: flex;
    width: 24%;
    flex-direction: column;
    padding: 16px;
    /* border: 1px solid cyan; */
}