.sectionOneContainer{
    display: flex;
    width: 100%;
    padding: 0px 0px 40px;
    margin: 2vh 8vw;
    
}

.mainSection{
    display: flex;
    width: 58%;
    border: 1px solid black;
}

.cardListSection{
    width: 48%;
    /* border: 1px solid purple; */
    padding: 16px;
    border: 1px solid blue;
}

.mainCardSection{
    width: 52%;
    padding: 16px;
    border: 1px solid orange;
}
.followTopicSection{
    display: flex;
    width: 24%;
    flex-direction: column;
    padding: 16px;
    border: 1px solid cyan;
}


@media only screen and (max-width: 900px) {
    .followTopicSection {
      display: flex;
      justify-content: column;
      margin: 5vh 4vw;
    }
  }