.articleDetailContainer{
    width: 100%;
    border: 1px  solid blue;
    display: flex;
}
/* 
.articleDetailRight{
    width: 20%;
    border: 1px  solid black
}
.articleDetailLeft{
    width: 20%;
    border: 1px  solid black
} */



