.articleDetailImage{
    width: 100%;
}

.all-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-icons-left{
    display: flex;
    align-items: center;
}

.article-detail-container{
    margin-bottom: 10%;

}